html {
    scroll-behavior: smooth;
  }

body {
    background-image: url("../images/vintage-concrete.png");
    background-repeat: repeat;
    font-family: 'Quicksand', sans-serif;
}


#card2 {
    background-color: #cfcdcd00;
}

#card3 {
    background-color: #cfcdcd00;
}

.headerA {
    position: relative;
    margin-top: 0px;
    z-index: 1;
}

.picCol {

}

.pics {
    width: 100%;
}

.card-body {
    padding: 0px;
}

.col-md-12.col-sm-12 {
    padding: 0px;
}


#card1 {
    z-index: 0;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0c0c0c8e;
    text-align: right;
    color: #cfcdcd;
    font-display: #777777;
}

#dropdown {
    background-color: #43474e;
}

.button {
    color: #cfcdcd !important;
}

#container2 {
    width: 100%;
}

#container3 {
    text-align: center;
}

a {
    color: #cfcdcd;
}

.project {
    width: 330px;
    height: 200px;

}

.pic2 {
    width: 90%;
}

.pic2Title {
    text-align: center;
    width: 90%;
}



#footer {
    text-align: center;
}

.divider {
    width: 100%;
}

#containerD1 {
    text-align: center;
    width: 100%;
}

#containerD2 {
    text-align: center;
    width: 100%;    
}

#containerD3 {
    text-align: center;
    width: 100%;    
}

.header1 {
    background-color: #43474e !important;
    color: #cfcdcd;
}

#footer {
    text-align: right;
}

.body1 {
    background-color: #0c0c0c8e !important;
    padding: 20px;
}

h5 {
    color: #cfcdcd !important;
}


