html {
    scroll-behavior: smooth;
  }

body {
    background-image: url("../images/vintage-concrete.png");
    background-repeat: repeat;
}

.headerA {
    margin-top: 40px;
}

.pics {
    width: 100%;
    /* height: 750px; */
}

#container1 {
    position: relative;
    top: -1091px;
}

#card1 {
    height: 831px;
    background-color: #0c0c0c8e;
    text-align: right;
    color: #cfcdcd;
    font-display: #777777;
}

#dropdown {
    background-color: #43474e;
}

.button {
    color: #cfcdcd !important;
}

#container2 {
    margin-top: -750px;
}

.project {
    width: 330px;
    height: 200px;

}

.pic2 {
    width: 90%;
}

.pic2Title {
    text-align: center;
    width: 310px;
}

#footer {
    text-align: center;
}

#containerD1 {
    text-align: center;
}

#containerD2 {
    text-align: center;    
}

#containerD3 {
    text-align: center;    
}

.header1 {
    background-color: #43474e !important;
    color: #cfcdcd;
}

#footer {
    text-align: right;
}

.body1 {
    background-color: #0c0c0c8e !important;
}

h5 {
    color: #cfcdcd !important;
}

.links {
    background-color: #cfcdcdb9;
    width: 90%;
    text-align: center;
    position: relative;
    top: -100px;
    z-index: 1 !important;
    display: none;
}

/* @media (max-width: 1999px) {
    #card1 {
        height: 600px;
    }

    #container1 {
        position: relative;
        top: -860px;
    }

    .pics {
        width: 800px;
        height: 600px;
    }
} */